In [83]:
import os
import pandas as pd

In [84]:
# Import the csv files
elect_data1_df = pd.read_csv('../python-challenge/election_data_1.csv', keep_default_na=False, na_values=[""])
elect_data2_df = pd.read_csv('../python-challenge/election_data_2.csv', keep_default_na=False, na_values=[""])

elect_data1_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [91]:
# Combine the datasets

electmerged_df = pd.concat([elect_data1_df, elect_data2_df], axis=0)

electmerged_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [86]:
# Count votes

TotalVotes = len(electmerged_df)

TotalVotes

4324001

In [87]:
# Find all candidates and tally total votes

Candidates = pd.DataFrame(electmerged_df["Candidate"].value_counts())

Candidates.head()

        Candidate
Khan      2218231
Correy     704200
Li         492940
Vestal     385440
Torres     353320

In [93]:
# Calculate percentage of votes for each candidate

Candidates["% of Votes"] = Candidates["Candidate"] / TotalVotes * 100

Candidates.head()

        Candidate  % of Votes
Khan      2218231   51.300428
Correy     704200   16.285843
Li         492940   11.400090
Vestal     385440    8.913966
Torres     353320    8.171136

In [95]:
# Sort data to find winner

Candidates = Candidates.sort_values(["% of Votes"], ascending=False).round(2)

Candidates.reset_index

Candidates.columns.values[0] = "Candidate Total"

Candidates

          Candidate Total  % of Votes
Khan              2218231       51.30
Correy             704200       16.29
Li                 492940       11.40
Vestal             385440        8.91
Torres             353320        8.17
O'Tooley           105630        2.44
Seth                40150        0.93
Cordin              24090        0.56

In [96]:
# Identify winner

Winner = Candidates.iloc[0:1]

Winner

      Candidate Total  % of Votes
Khan          2218231        51.3

In [108]:
# Print Results

print ("Election Results")
print ('--------------------')
print ('Total Votes: ', TotalVotes)
print ('--------------------')
print (Candidates)
print ('--------------------')
print ('Winner:', Winner)
print ('--------------------')

Election Results
--------------------
Total Votes:  4324001
--------------------
          Candidate Total  % of Votes
Khan              2218231       51.30
Correy             704200       16.29
Li                 492940       11.40
Vestal             385440        8.91
Torres             353320        8.17
O'Tooley           105630        2.44
Seth                40150        0.93
Cordin              24090        0.56
--------------------
Winner:       Candidate Total  % of Votes
Khan          2218231        51.3
--------------------